.isFooter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 815px;
  margin: 0 auto;
  padding: 60px 5% 40px 5%;
}
.isFooterLinks {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.isText {
  margin: 0 0 2rem;
  color: #757575;
  font-size: 1rem;
}
.isLinksStructure {
  margin: 0 auto;
  margin-bottom: 1.4rem;
  text-align: left;
}
.isItem {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 50%;
  min-width: 100px;
  margin: 0 0 1rem 0;
  padding: 0 1rem 0 0;
  list-style: none;
}
.isItemLink {
  color: #757575;
  font-size: 0.8rem;
  text-decoration: none;
}
.isFooterCountry {
  text-align: left;
}
.isFooterCountry .isText {
  margin: 0;
  color: #757575;
  font-size: 0.8rem;
}
